@model Gotham.domain.Signalement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Signalement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commentaires)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commentaires)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
