@model IEnumerable<Gotham.domain.Signalement>

@{
    ViewData["Title"] = "Liste des signalements";
}

<h1>Liste des signalements</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Call">Call 911</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Secteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Heure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaires)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Secteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaires)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Mettre à jour</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
