@model Gotham.domain.Alerte

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alerte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Risque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Risque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ressource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ressource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conseil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conseil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publié)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publié)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
