@model Gotham.domain.Capsule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Capsule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class="col-sm-2">
            Lien vers la vidéo
        </dt>
        <dd class="col-sm-10">
            <a href=@Html.DisplayFor(model => model.VideoUrl)>@Html.DisplayFor(model => model.VideoUrl)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Texte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Texte)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
