@model IEnumerable<Gotham.domain.Capsule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                Lien vers vidéo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publié)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titre)
            </td>
            <td>
                <a href=@Html.DisplayFor(modelItem => item.VideoUrl)>@Html.DisplayFor(modelItem => item.VideoUrl)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publié)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Mettre à jour</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                @if (item.Publié)
                {
                    <a asp-action="Publish" asp-route-id="@item.Id">Dépublier</a>
                }
                else
                {
                    <a asp-action="Publish" asp-route-id="@item.Id">Publier</a>
                } |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
